.myhead {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    background: #3f3f3f;
}

a, p {
    font-family: "Cutive Mono", "Average Sans", fantasy, sans-serif, Serif;
    font-size: 20px;
    text-decoration: none;
}

a:visited { color: white; }

a:hover { color: #7db1e5; }

.mymenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #3f3f3f;
}

.mymenu > div {
    flex: auto;
}

.icons {
    padding: 20px;
}

.icons div {
    background: #F6F6F6;
}

.icons img {
    display: block;
    height: 80px;
}

.center {
    margin: auto;
    text-align: center;
}

