.myhead {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

a, p {
    font-family: "Cutive Mono", "Average Sans", fantasy, sans-serif, Serif;
    font-size: 20px;
    text-decoration: none;
}

.mymenu {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mymenu > a {
    flex: auto;
}

.mylogo img {
    width: 140px;
}

.icons {
    padding: 20px;
}

.icons div {
    background: #F6F6F6;
}

.center {
    margin: auto;
    text-align: center;
}

.icons img {
    display: block;
    height: 80px;
}
