.items {
    margin-top: 95px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-between;
    width: 95%;
}

.items > div {
    max-width: 40%;
    margin-left: 25%;
}

.items > div > p {
    text-align: justify;
    text-justify: auto;
}

.contacto {
    max-width: 40%;
    margin-left: 25%;
}

.contacto > div {
    width: 100%;
    margin-top: 20px;
}

.contacto > div > textarea { width: 100%; }

#email, #nombre {
    max-width: 100%;
    padding: 5px;
    margin-left: 0;
}

.button-xlarge {
    font-size: 125%;
    float: right;
}

@media all and (max-width: 800px) {
    .items { flex-flow: column; }
    .items > div {
	margin: 20px;
	max-width: 95%;
    }
    .contacto {
	margin: 20px;
	max-width: 95%;
    }
}
