body { background: #dcdcdc; }

label {
    color: white;
    background-color: #3f3f3f;
    padding: 6px;
    margin: 3px;
    border-radius: 40px;
}

label, p { font-family: monospace; }

.items { flex-flow: column wrap; }

.items > div { margin-bottom: 60px; }

.answer {
    background: white;
    padding: 8px;
    border-radius: 25px;
}

.question > label {
    background: #7db1e5;
    align: right;
    border-radius: 25px;
}

.menuu > p { font-size: 90%; }

.menuu > label > a { font-size: 0.8em; }


