img {
    margin: 15px;
    height: 30px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#cart {
    position: absolute;
    right: 9px;
    top: 10px;
    background: #000000;
    padding: 13px;
}

#menu {
    position: absolute;
    left: 5px;
    top: 10px;
    padding: 13px;
}

#mylogo {
    position: absolute;
    left: 65px;
    top: 0;
    padding: 13px;
}

.myhead {
    height: 95px;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    align-items: center;
    justify-content: flex-end;
    background: #3f3f3f;
}

.myhead > div {
    margin-right: 10%;
}

#mylogo > a > img {
    height: 60px;
}

.mybox {
    width: 55%;
    font-family: "Open Sans", Georgia, Verdana;
    text-align: center;
}

.mybox > h1,p {
    padding: 30px 0 30px 0;
}

.myproduct {
    flex-direction: row;
}

.items {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-between;
}

@media all and (max-width: 800px) {
    .myhead {
	flex-flow: column;
	align-content: flex-start;
	align-items: flex-start;
	padding-top: 100px;
    }
    .mymenu { flex-flow: column; }
    .myproduct { flex-flow: column; }
    .items { flex-flow: column; }
}

.items > div {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.items > div > a:hover > img {
    transform: scale(1.3);
}

.items > div > p {
    width: 500px;
}

a.under { text-decoration: underline; }

p { padding: 2px; }

.intro {
    color: white;
    background: #3f3f3f;
}
