.myhead {
    width: 96%;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-between;
}

.mylogo1 > img {
    width: 80px;
}

#cart {
    align-self: center;
    justify-self: center;
    height: 30px;
}

h1 { font-size: 100% }

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.minimal video {
    width: 30%;
}

.mybox {
    width: 55%;
    font-family: "Open Sans", Georgia, Verdana;
    text-align: center;
}

.mybox > h1,p {
    padding: 30px 0 30px 0;
}

.myproduct {
    flex-direction: row;
}

.items {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-between;
}

@media all and (max-width: 800px) {
    .myhead { flex-flow: column; }
    .mymenu { flex-flow: column; }
    .myproduct { flex-flow: column; }
    .items { flex-flow: column; }
}

.items > div {
    padding: 20px;
    margin: 20px;
}

.items > div:hover > img {
    transform: scale(1.3);
}

.items > div:hover > p {
    color: #7db1e5;
}

.items > div > img {
    height: 60px;
}

a.under { text-decoration: underline; }

p { padding: 2px; }


