.myhead {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.mylogo1 > img {
    width: 80px;
}

#cart {
    align-self: center;
    justify-self: center;
    height: 30px;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.minimal video {
    width: 30%;
}

.mybox {
    width: 75%;
    text-align: center;
}

.myproduct {
    flex-direction: row;
}

.mymenu a {
    background: #000000;
    color: #ffffff;
}


